{% set comment_form=comment_forms[idea.id] %}
{{ form_start(comment_form, {'action': path('comment_new', {idea:idea.id} ), 'name':'comment_idea_'~idea.id,'attr': { 'id': 'comment_idea_'~idea.id  } }) }}
    {{ form_widget(comment_form) }}
    <button class="btn btn-primary">{{ button_label|default('Save Comment') }}</button>
{{ form_end(comment_form) }}
