{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
    <a href="{{ path('comment_index') }}">back to list</a>
    <h1>Create new Comment</h1>

    {{ include('comment/_form.html.twig') }}

{% endblock %}
