{% extends 'base.html.twig' %}

{% block title %}Edit Tag{% endblock %}

{% block body %}
<div class="alert alert-light rounded shadow">

        <h1>Edit Tag</h1>

        {{ include('tag/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('tag_index') }}">back to list</a>

        {{ include('tag/_delete_form.html.twig') }}
</div>
{% endblock %}
