{% extends 'base.html.twig' %}

{% block title %}Tag index{% endblock %}

{% block body %}
<div class="alert alert-light rounded shadow mt-2">

<h1>Tag index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ include('tag/component.html.twig') }}</td>
                <td>
                    <a href="{{ path('tag_show', {'id': tag.id}) }}">show</a>
                    <a href="{{ path('tag_edit', {'id': tag.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('tag_new') }}">Create new</a>
</div>
{% endblock %}
