<form method="post" action="{{ path('idea_delete', {'id': idea.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ idea.id) }}">
    <input class="delete-as-link link button-as-link" type="submit" value="Delete" name="submit"/>
</form>
