<div class="p-2 bg-info rounded shadow mb-4">
    <div class="post bg-light rounded shadow mb-1">
        <div class="post-profile d-flex align-items-center p-3 rounded-top">
            <img class="post-profile-image rounded-circle" src="{{ asset('img/profile.png') }}" alt="">
            <div class="post-profile-text ml-3">
                <h5>{{ idea.user.username|capitalize }}</h5>
                <h5>{{ idea.pubDate ? idea.pubDate|time_diff : '' }}</h5>
            </div>
            <div class="dropdown ml-auto align-self-start">
                <i class="bg-light rounded-circle p-1 ml-auto align-self-start fas fa-ellipsis-h"
                   type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                ></i>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    {% if app.user.hasAuth(idea) %}
                        <a class="dropdown-item" href="{{ path('idea_edit', {'id': idea.id}) }}">
                            Edit
                        </a>
                        <a class="dropdown-item sendDeleteRequest" data-userid="{{ app.user.id }}" data-token="{{ csrf_token(app.user.id) }}" data-ideaid="{{ idea.id }}">
                            {{ include('idea/_delete_form.html.twig') }}
                        </a>
                    {% endif %}
                    <a title="Share by Email" href="mailto:?subject=New Idea for us&amp;body=Check out this idea: {{ path('idea_show', { 'id': idea.id }) |url_encode }}" class="dropdown-item">Share</a>
                </div>
            </div>
        </div>
        <div class="post-body p-3">
            <div>
                {% if idea.approved %}
                <i class="fas fa-check-circle fa-lg"></i>
                {% endif %}
                <h3 class="d-inline">{{ idea.Title }}</h3>
            </div>
            <h5>{{ idea.description }}</h5>
                {% if idea.image %}
                    <img src="{{ idea_images_directory ~ idea.image }}" alt="" class="my-2 idea-image shadow rounded">
                {% endif %}
            {% for tag in idea.tags %}
                {{ include('tag/component.html.twig') }}
            {% endfor %}
        </div>
        <hr>
        <div class="post-footer px-3 pb-3 d-flex ">
            <div class="d-flex flex-row justify-content-start align-items-center flex-row justify-content-start align-items-center">
                <a data-userid="{{ app.user.id }}" data-token="{{ csrf_token(app.user.id) }}" data-ideaid="{{ idea.id }}" class="btn btn-danger rounded-circle sendChangeLikeRequest mr-2">
                    <i class="fas fa-heart"></i>
                </a>
                <a class="likes-counter" id="likes-counter-{{ idea.id }}">{{ idea.likes|length }}</a>
            </div>

            <div class="d-flex flex-row justify-content-start align-items-center flex-row justify-content-start align-items-center">
                <a href="#comment_idea_{{ idea.id }}" class="comment-link btn btn-primary rounded-circle ml-3" id="comment-link-{{ idea.id }}"><i class="fas fa-comment"></i></a>
                <a class="likes-counter ml-2" id="likes-counter-{{ idea.id }}">{{ idea.comments|length }}</a>
            </div>

        </div>
    </div>
    <div id="comments-{{ idea.id }}" class="comments bg-light rounded shadow p-2">
        <h5>Comments:</h5>
        {% for comment in idea.comments %}
            <hr>
            <div class="alert alert-light" id="comment-{{ comment.id }}">
                <h5><b>{{ comment.user.username ~ ":"}}</b> {{ comment.text }} </h5> <h5 class="mr-auto">{{ comment.pubDate ?  comment.pubDate|time_diff : '' }}</h5>
                {% if app.user.hasAuth(comment) %}
                <a class="sendDeleteCommentRequest" data-userid="{{ app.user.id }}" data-token="{{ csrf_token('delete'~comment.id) }}" data-commentid="{{ comment.id }}" onclick="return confirm('Are you sure you want to delete this comment?')" >
                    <i class="fas fa-trash"></i>
                </a>
                {% endif %}
            </div>
        {% endfor %}
        {% include 'comment/_form.html.twig' %}
    </div>
</div>