{% extends 'base.html.twig' %}

{% block title %}Edit Idea{% endblock %}

{% block body %}
    <div class="alert alert-light shadow mt-2">
    <h1>Edit Idea</h1>
    {{ include('idea/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('idea_index') }}"><i class="fas fa-arrow-circle-left"></i> back to list</a>

    {{ include('idea/_delete_form.html.twig') }}
    </div>
{% endblock %}
