{% extends 'base.html.twig' %}

{% block title %}All Ideas{% endblock %}

{% block body %}
    <hr>
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
           ERROR: {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-primary">
            {{ message }}
        </div>
    {% endfor %}
    <a class="btn btn-primary btn-grad" href="{{ path('idea_new') }}">
        <i class="fas fa-plus-circle"></i>
        New idea!
    </a>
    <hr>
        {% for idea in ideas %}
            {% include "idea/component.html.twig" %}
        {% endfor %}
{% endblock %}
