{% extends 'base.html.twig' %}

{% block title %}New Idea{% endblock %}

{% block body %}
    <div class="alert alert-light mt-2">
        <h1>Create a new Idea</h1>
        {{ include('idea/_form.html.twig') }}
        <a href="{{ path('idea_index') }}"><i class="fas fa-arrow-left"></i> back to list</a>
    </div>
{% endblock %}
