{% extends 'base.html.twig' %}

{% block title %}{{ idea.title }}{% endblock %}

{% block body %}
    <a href="{{ path('idea_index') }}"> <i class="fas fa-arrow-circle-left"></i> Back to list</a>
    {% include "idea/component.html.twig" %}
{% endblock %}
