{% extends 'base.html.twig' %}

{% block title %}All Ideas{% endblock %}

{% block body %}
    <hr>
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            ERROR: {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-primary">
            {{ message }}
        </div>
    {% endfor %}
    <a class="btn btn-primary" href="{{ path('idea_new') }}">
        <i class="fas fa-plus-circle"></i>
        New idea
    </a>
    <hr>
    <h3>Ideas:</h3>
    <table class="table table-light table-striped rounded shadow-lg">
        <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Date</th>
            <th scope="col">Likes</th>
            <th scope="col">Tags</th>
            {% if is_granted('ROLE_ADMIN') %}
            <th scope="col">Approve</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for idea in ideas %}
            <tr>
                <td>
                    {% if idea.image %}
                        <img class="table-idea-image rounded"src="{{ idea_images_directory ~ idea.image }}" alt="">
                    {% else %}
                        <div class="bg-light table-idea-image"></div>
                    {% endif %}
                </td>
                <td><a href="{{ path('idea_show',{id: idea.id}) }}">{{ idea.title|capitalize }}</a></td>
                <td>{{ idea.description|capitalize }}</td>
                <td>{{ idea.pubDate ? idea.pubDate|time_diff : '' }}</td>
                <td>
                    <div class="d-flex flex-row justify-content-start align-items-center flex-row justify-content-start align-items-center">
                        <a data-userid="{{ app.user.id }}" data-token="{{ csrf_token(app.user.id) }}"
                           data-ideaid="{{ idea.id }}" class="btn btn-danger rounded-circle sendChangeLikeRequest mr-2">
                            <i class="fas fa-heart"></i>
                        </a>
                        <a class="likes-counter" id="likes-counter-{{ idea.id }}">{{ idea.likes|length }}</a>
                    </div>
                </td>
                <td>
                    {% for tag in idea.tags %}
                        <a href="{{ path('idea_by_tag', { tag:tag.id }) }}" class="btn btn-outline-info rounded-pill mb-1">{{ tag }}</a>
                    {% endfor %}
                </td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                    <div class="form-check">
                        <input {{ idea.approved ? 'checked' : '' }} class="form-check-input approve" id="approve-{{ idea.id }}" type="checkbox" value=""
                            data-userid="{{ app.user.id }}" data-token="{{ csrf_token(app.user.id) }}"
                            data-ideaid="{{ idea.id }}">
                        <label class="form-check-label" for="defaultCheck1">
                        </label>
                    </div>
{#                    <a data-userid="{{ app.user.id }}" data-token="{{ csrf_token(app.user.id) }}"#}
{#                       data-ideaid="{{ idea.id }}" class="btn btn-danger rounded-circle sendChangeLikeRequest mr-2">#}
{#                        <i class="fas fa-heart"></i>#}
{#                    </a>#}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
