{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container bg-info p-5 rounded shadow mt-5 w-50">
        <form method="post" onkeydown="return event.key != 'Enter';" class="d-flex flex-column align-items-center">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <input placeholder="username" type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control rounded-pill mb-2" required autofocus>
            <input placeholder="password" type="password" name="password" id="inputPassword" class="form-control rounded-pill" required>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">
                <div class="checkbox mt-2">
                    <label class="m-0">
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            {# show modal, modal agreement will submit #}

            <button class="btn btn-lg btn-primary mt-2 rounded-pill w-100" type="button" data-toggle="modal" data-target="#modal">
                Login
            </button>
            <div id="modal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">CONFIDENTIAL SITE!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>This site is confidential, only login if you are sure this computer is safe, every information and material contained here is intended only for the person to which it is addressed and may contain confidential and/or privileged material. Any retransmission, dissemination or sharing of the information contained here to anyone that is not related to, or affiliated to https://vadebike.es is prohibited.</p>
{#                            <div class="checkbox mt-2">#}
{#                                <label>#}
{#                                    <input type="checkbox" name="_remember_agreement"> Don't show me this again#}
{#                                </label>#}
{#                            </div>#}
                        </div>
                        <div class="modal-footer">
                            <button name="submit" type="submit" class="btn btn-primary" >I agree</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

{% endblock %}
