$bg-color: #bcd3e2
$bg-post-profile: #89a6ff

$xs: '576px'
$sm: '768px'
$md: '992px'
$lg: '1200px'

body
  background-color: $bg-color

.post-profile
  background-color: $bg-post-profile

// mobile first
.img-logo
  max-width: 25vw
.post-profile-image
  max-width: 10%

.delete-as-link
  border: none
  padding: 0!important
  /*optional*/
  font-family: arial, sans-serif
  cursor: pointer
  background-color: inherit

.fa-trash:hover
  color: red !important

.fa-check-circle
  color: var(--green)

.idea-image
  max-width: 100%
  max-height: 50vh
  display: block
  margin-left: auto
  margin-right: auto

.table-idea-image
  max-height: 20em
  max-width: 15em


.btn-grad
  background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%)
  margin: 10px
  padding: 15px 45px
  text-align: center
  text-transform: uppercase
  transition: 0.5s
  background-size: 200% auto
  color: white
  box-shadow: 0 0 20px #eee
  border-radius: 10px
  display: block

  &:hover
    background-position: right center /* change the direction of the change here */
    color: #fff
    text-decoration: none

// new idea tags in horizontal
#idea_tags .form-check
  display: inline-flex !important
  margin-right: 1em

@media (min-width: $md)
  .img-logo
    max-width: 15vw
  // dropdown on hover if desktop
  .dropdown:hover .dropdown-menu
    display: block
    margin-top: 0 // remove the gap so it doesn't close
  .post-profile-image
    max-width: 6%

