<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Ideas App!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/vendors~app.css') }}">
            <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
            <link rel="stylesheet" href="{{ asset('build/app-style.css') }}">
        {% endblock %}
    </head>
    <body>
    {{ include('main/navbar.html.twig') }}
        <div class="container">
            {% block body %}{% endblock %}
            {% block javascripts %}
                <script src="{{ asset('build/vendors~app.js') }}"></script>
                <script src="{{ asset('build/app.js') }}"></script>
                <script src="{{ asset('build/runtime.js') }}"></script>
            {% endblock %}
        </div>
    </body>
</html>
