{% extends 'base.html.twig' %}

{% block title %}My Account Settings{% endblock %}

{% block body %}

    <div class="alert alert-light mt-2 shadow">
        {{ include('account/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

{% endblock %}
