{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <div class="alert alert-light shadow mt-2">
    <h1>Create new User</h1>
    {{ include('user/_form.html.twig') }}
    <a href="{{ path('user_index') }}"><i class="fas fa-arrow-circle-left"></i> back to list</a>
    </div>
{% endblock %}
