<nav class="navbar navbar-expand-lg navbar-primary bg-light navbar-light indigo">
    <a class="navbar-brand" href="{{ path('home') }}"><img class="img-logo" src="{{ asset('img/logo.png') }}"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home') }}">
                    <i class="fas fa-home"></i>
                    Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('idea_index') }}">
                    <i class="fas fa-lightbulb"></i>
                    Ideas
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('tag_index') }}">
                    <i class="fas fa-tags"></i>
                    Tags
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_index') }}">
                    <i class="fas fa-user-friends"></i>
                    People
                </a>
            </li>
        </ul>
        {% if app.user %}
        <div class="dropdown ml-auto">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user ml-auto"></i>
            </button>
            <div class="dropdown-menu  dropdown-menu-lg-right" aria-labelledby="dropdownMenuButton">

                    <a href="{{ path('account') }}" class="dropdown-item">
                        <i class="fas fa-cog"></i>
                        My Account
                    </a>
                    <a href="{{ path('app_logout') }}" class="dropdown-item">
                        <i class="fas fa-sign-out"></i>
                        Logout
                    </a>
            </div>
        </div>
        {% else %}
            <a href="{{ path('app_login') }}" class="btn btn-primary ml-auto">
                <i class="fas fa-sign-in"></i>
                Login
            </a>
        {% endif %}
    </div>
</nav>